.custom-toolbar {
  background-color: #4a90e2;
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-content {
  background-color: #f0f4f8;
}

.search-container {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-button {
  margin-right: 10px;
}

.search-input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.table-row-header {
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
  text-align: center;
}

.table-header {
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

.table-row {
  background-color: white;
  border-bottom: 1px solid #eee;
}

.table-cell {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.view-button {
  color: #4a90e2;
  font-weight: bold;
}

.view-button:hover {
  text-decoration: underline;
}

.custom-modal {
  --width: 80%;
  --height: 90%;
}

.custom-modal-toolbar {
  --background: #4a90e2;
}

.custom-modal-content {
  background-color: #f9fbfc;
}

.details-table {
  width: 100%;
}

.details-row {
  margin-bottom: 15px;
}

.details-row ion-col {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.custom-modal-toolbar-bottom {
  --background: #709ccd;
  
}